body {
  /* height: 800px; */
  background-color: #111111;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  /* max-width: 1280px;
  min-width: 1080px; */
}

#copyright {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  float: right;
  width: 100%;
  background-color: #222222;
  color: #F86F03;
}

.utama {
  margin-top: 4rem;
}
